{% extends "librarian/base.html" %}
{% block title %}
Library | Edit Book
{% endblock %}
{% block content %}

<div>
    <h1 class="text-center fw-bold">Edit Book</h1>
    <div class="container">

    <div class="container-form mt-5">
        <form action="/librarian/edit_book/{{book.id}}" method="POST">
            <div class="mb-3">
                <label for="book_name" class="form-label">Book Name</label>
                <input type="text" class="form-control" id="book_name" name="book_name" value="{{book.name}}">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author" value="{{book.author}}">
            </div>
            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" class="form-control" id="isbn" name="isbn" value="{{book.isbn}}">
            </div>
            
            <div class="mb-3">
                <label for="section_id" class="form-label" name="section_id">Section Name</label>
                <select class="form-select" aria-label="Default select example" id="section_id" name="section_id">
                    <option selected>{{ book.section_name }}</option>
                    {% for section in sections %}
                    <option value="{{ section.id }}">{{ section.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="available" class="form-label">Available</label>
                <!-- create two options saying true and false -->
                <select class="form-select" aria-label="Default select example" id="available" name="available">
                    <option selected>{{book.available}}</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>

            <!-- content filed  -->
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                {{ ckeditor.create(value=book.content) }}
            </div>
            <button type="submit" class="btn btn-primary">Update Book</button>
        </form>
    </div>
</div>

    {% endblock %}