<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('user.dashboard')}}"><b>Library Management System</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('user.dashboard')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.my_books')}}">My Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.request_book')}}">Request Books</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.edit_profile')}}"><b>Profile</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.logout')}}"><b>Logout</b></a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="container mx-auto">
  {% if message %}
      {% if type %}
      <div class="alert alert-{{type}} alert-dismissible fade show mt-3" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
  {% endif %}
</div>
<script>
  setTimeout(function () {
      document.querySelector('.alert').remove();
  }, 3000);
</script>