{% extends "base.html" %}
{% block title %}
Home | Search Results
{% endblock %}
{% block content %}
<div>
  {% include 'user/navbar.html' %}
</div>

<div class="container mt-5 ">
  <div class="mt-5 d-flex align-items-center justify-content-between">
    <h2 class="flex-shrink-0">
      Search results
    </h2>
    <form action="/librarian/search_book" method="POST" class="flex-grow-2 ms-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Books" name="search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </form>
  </div>
  <table class="table  table-bordered table-striped table-hover">
    <thead class="table-success">
      <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Section Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.section.name }}</td>
        <td>
          <a href="/user/request-book/{{ book.id }}" class="btn btn-success">Request</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}