{% extends "librarian/base.html" %}
{% block title %}
Library | Add Section
{% endblock %}
{% block content %}

<div>
    <h1 class="text-center fw-bold">Add a Section</h1>
    <div class="container">

    
    <div class="container-form mt-5">
        <form action="/librarian/add_section" method="POST">
            <div class="mb-3">
                <label for="section_name" class="form-label">Section Name</label>
                <input type="text" class="form-control" id="section_name" name="section_name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
  
            <button type="submit" class="btn btn-primary">Add Section</button>
        </form>
    </div>
</div>

    {% endblock %}